

    <div class="conL">
        <ul class="list-group">
            <li href="#" class="list-group-item">
                <h5>菜单管理</h5>
                <ul class="list-group">
                    <li class="list-group-item"><a href="querycategory.php">查看菜单</a></li>
                    <li class="list-group-item"><a href="queryinsert.php">添加菜单</a></li>
                </ul>
                <h5>商品管理</h5>
                <ul class="list-group">
                    <li class="list-group-item"><a href="querygoods.php">查看商品</a></li>
                    <li class="list-group-item"><a href="insertgoods.php">添加商品</a></li>
                </ul>
                <h5>推荐位管理</h5>
                <ul class="list-group">
                    <li class="list-group-item"><a href="querygoods.php">查看推荐位</a></li>
                    <li class="list-group-item"><a href="insertgoods.php">添加推荐位</a></li>
                </ul>
            </li>

        </ul>
    </div>

