<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="" />
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title></title>
    <link rel="shortcut icon" type="image/x-icon" href="src/img/ico.ico">
      <!--<link rel="stylesheet" href="css/animate.min.css">-->
      <link rel="stylesheet" href="../static/css/jquery.fullPage.css">
      <link rel="stylesheet" href="../static/css/style.css">
      <link rel="stylesheet" href="http://at.alicdn.com/t/font_626199_1hkd0d1ro9vhd7vi.css" />
  </head>

  <body>

  <div id="fullpage">
      <div class="section">
          <!--<div class="bg" style="z-index:3"><img src="img/1zhezhao.png"></div>-->
          <!--菜单按钮-->
          <div class="sq_menu_container">
              <div class="sq_menu">

                  <div class="sq_m_meun">
                      <div class="sq_m_span">
                          <span></span>
                          <span></span>
                          <span></span>
                      </div>
                      MEUN
                  </div>
              </div>
              <div class="sq_meun_back"></div>
              <div class="sq_meun_nav">
                  <div class="sq_nav_1 nav0">
                      <span class="sq_nav_park"></span>
                      <span data-menuanchor="Home page" class="active sq_nav_left"><a href="#Home page">Home page</a></span>
                  </div>
                  <div class="sq_nav_1 nav1">
                      <span class="sq_nav_park"></span>
                      <span data-menuanchor="SKILLS"  class=" sq_nav_left"><a href="#SKILLS">SKILLS</a></span>
                  </div>
                  <div class="sq_nav_1 nav2">
                      <span class="sq_nav_park"></span>
                      <span data-menuanchor="WORK" class="sq_nav_left"><a href="#WORK">WORK</a></span>
                  </div>
                  <div class="sq_nav_1 nav3">
                      <span class="sq_nav_park"></span>
                      <span data-menuanchor="CONTACT ME" class="sq_nav_left"><a href="#CONTACT ME">CONTACT ME</a></span>
                  </div>
              </div>
          </div>
          <!--QQ-电话-->
          <div class="sq_concat">
              <div class="sq_concat_back">
                  <div class="sq_phone"><img src="../static/img/phone.png" alt="联系电话"></div>
                  <div class="sq_qq"><img src="../static/img/qq.png" alt="联系QQ"></div>
                  <div class="sq_weixin"><img src="../static/img/weixin.png" alt="微信"></div>
              </div>
          </div>

          <!--<div class="sq_center sq_position"><img src="img/er.png"></div>-->
          <!--<div class="sq_center_1 sq_position"><img src="img/zuiwai.png"></div>-->
          <!-- <div class="sq_center_2"><img src="img/nei.png"></div> -->

          
          <div class="tips">Hi,welcome to<br>
              My Personal homepage</div>
          
      </div>

      <div class="section">

          <!--<div class="bg" style="z-index:3"><img src="img/2zhezhao.png"></div>-->
          <div class="sq_tow_screen">
              <p>SKILLS</p>
          </div>
          <div class="sq_tow_msg" style="z-index: 6">
              <ul>
					<li class="flip-container">
						<div class="flipper">
							<div class="front">
								<img src="../static/img/c1.png" alt="">
								<p>HTML</p>
							</div>
							<div class="back">
								<div>深刻理解Web标准熟练运用html标签掌握html5如canvas,<br/>localStorage,<br/>navigator等新特性</div>
								
							</div>
						</div>
					</li> 
					
                  <!-- <li class="sq_li1">
                      <div class="sq_img">
                          <img src="img/c1.png" alt="">
                          <p class="sq_img_s1">HTML</p>
                          <p>HTML</p>
                      </div>
                  </li> -->
                  <li class="flip-container">
                      <div class="flipper">
							<div class="front">
								<img src="../static/img/c2.png" alt="">
								<p>CSS</p>
							</div>
							<div class="back">
								<div>熟练运用css及css3新属性,注重浏览器兼容性，熟悉常见的css hack掌握@keyframes制作动画效果</div>
								
							</div>
						</div>
                  </li>
                  <li class="flip-container">
                      <div class="flipper">
							<div class="front">
								<img src="../static/img/c3.png" alt="">
								<p>JavaScript</p>
							</div>
							<div class="back">
								<div>
								掌握原生JS的编程注重JavaScript性能优化熟练运用jQuery.js
								</div>
								
							</div>
						</div>
                  </li>
                  <li class="flip-container">
                      <div class="flipper">
							<div class="front">
								<img src="../static/img/c2.png" alt="">
								<p>AJAX</p>
							</div>
							<div class="back">
								<div>
									掌握瀑布流和留言板功能的实现掌握ajax跨域解决方案JSONP
								</div>
								
							</div>
						</div>
                  </li>
				  <li class="flip-container">
                      <div class="flipper">
							<div class="front">
								<img src="../static/img/c2.png" alt="">
								<p>BootStrap</p>
							</div>
							<div class="back">
								<div>
									熟悉Bootstrap样式和组件的书写熟练运用其处理响应式页面明白媒体查询的原理并灵活运用
								</div>
								
							</div>
						</div>
                  </li>
              </ul>
          </div>
          <div class="sq_zw"><img src="../static/img/zhewen.png"></div>
          <div class="bg">
              <!--<img src="img/firstscreen2.jpg" alt="第二屏">-->
          </div>
      </div>
      <div class="section">
          <!--<div class="bg" style="z-index:3"><img src="img/2zhehzoa.jpg.png"></div>-->
          <div class="sq_three">
              WORK
              <div class="sq_three_s1">
                  <span class="sq_three_s1_span"></span>
                  <span class="sq_three_s1_span1"></span>
              </div>
          </div>

          <div class="sq_three_s2" style="z-index: 6">
              <ul>
                  <li>
                      <a href="../mi/index.html">
                          <div class="sq_three_img">
                              <div class="sq_three_re" style="position: relative;">
                                  <img src="../static/img/demo1.png" alt="">
                                  <div class="sq_z_back"></div>
                                  <span class="sq_z_left"><img src="img/zoom_1.png"></span>
                                  <span class="sq_z_right"><img src="img/zoom_2.png"></span>
                              </div>
                              <div class="sq_three_top">
                                  <!--<span>Meizhai Decorc</span>-->
                                  <span style="font-size: 18px;">小米商城</span>
                              </div>
                              <div class="sq_three_top" style="color:#787878">2018.08.08</div>
                              <div class="sq_three_top sq_solid" style="width:270px;background: #959595;height: 2px;"></div>
                          </div>
                      </a>

                  </li>
					<li>
                      <a href="../flower/index.html">
                          <div class="sq_three_img">
                              <div class="sq_three_re" style="position: relative;">
                                  <img src="../static/img/demo5.png" alt="">
                                  <div class="sq_z_back"></div>
                                  <span class="sq_z_left"><img src="img/zoom_1.png"></span>
                                  <span class="sq_z_right"><img src="img/zoom_2.png"></span>
                              </div>

                              <div class="sq_three_top">
                                  <!--<span>Feng Garden Restaurant</span>-->
                                  <span style="font-size: 18px;">素馨花卉</span>
                              </div>
                              <div class="sq_three_top" style="color:#787878">2018.08.08</div>
                              <div class="sq_three_top sq_solid" style="width:270px;background: #959595;height: 2px;"></div>
                          </div>
                      </a>

                  </li>
					<li>
                      <a href="../suning/index.html">
                          <div class="sq_three_img">
                              <div class="sq_three_re" style="position: relative;">
                                  <img src="../static/img/demo8.png" alt="">
                                  <div class="sq_z_back"></div>
                                  <span class="sq_z_left"><img src="img/zoom_1.png"></span>
                                  <span class="sq_z_right"><img src="img/zoom_2.png"></span>
                              </div>

                              <div class="sq_three_top">
                                  <!--<span>Western media</span>-->
                                  <span style="font-size: 18px;">苏宁商城</span>
                              </div>
                              <div class="sq_three_top" style="color:#787878">2018.08.08</div>
                              <div class="sq_three_top sq_solid" style="width:270px;background: #959595;height: 2px;"></div>
                          </div>
                      </a>
                  </li>
					<li>
                      <a href="../food/index.html">
                          <div class="sq_three_img">
                              <div class="sq_three_re" style="position: relative;">
                                  <img src="../static/img/demo4.png" alt="">
                                  <div class="sq_z_back"></div>
                                  <span class="sq_z_left"><img src="img/zoom_1.png"></span>
                                  <span class="sq_z_right"><img src="img/zoom_2.png"></span>
                              </div>

                              <div class="sq_three_top">
                                  <!--<span>Western media</span>-->
                                  <span style="font-size: 18px;">外卖app</span>
                              </div>
                              <div class="sq_three_top" style="color:#787878">2018.08.08</div>
                              <div class="sq_three_top sq_solid" style="width:270px;background: #959595;height: 2px;"></div>
                          </div>
                      </a>
                  </li>

                  <li>
                      <a href="../clothingDesign/index.html">
                          <div class="sq_three_img">
                              <div class="sq_three_re" style="position: relative;">
                                  <img src="../static/img/demo3.png" alt="">
                                  <div class="sq_z_back"></div>
                                  <span class="sq_z_left"><img src="img/zoom_1.png"></span>
                                  <span class="sq_z_right"><img src="img/zoom_2.png"></span>
                              </div>

                              <div class="sq_three_top">
                                  <!--<span>International plume</span>-->
                                  <span style="font-size: 18px;">服装设计</span>
                              </div>
                              <div class="sq_three_top" style="color:#787878">2018.08.08</div>
                              <div class="sq_three_top sq_solid" style="width:270px;background: #959595;height: 2px;"></div>
                          </div>
                      </a>

                  </li>
								
                  

                  <li>
                      <a href="../weather/index.html">
                          <div class="sq_three_img">
                              <div class="sq_three_re" style="position: relative;">
                                  <img src="../static/img/demo6.png" alt="">
                                  <div class="sq_z_back"></div>
                                  <span class="sq_z_left"><img src="img/zoom_1.png"></span>
                                  <span class="sq_z_right"><img src="img/zoom_2.png"></span>
                              </div>

                              <div class="sq_three_top">
                                  <!--<span>Western media</span>-->
                                  <span style="font-size: 18px;">天气app</span>
                              </div>
                              <div class="sq_three_top" style="color:#787878">2018.08.08</div>
                              <div class="sq_three_top sq_solid" style="width:270px;background: #959595;height: 2px;"></div>
                          </div>
                      </a>
                  </li>
                  
                  <li>
                      <a href="../vancl.html">
                          <div class="sq_three_img">
                              <div class="sq_three_re" style="position: relative;">
                                  <img src="../static/img/demo7.png " alt="">
                                  <div class="sq_z_back"></div>
                                  <span class="sq_z_left"><img src="img/zoom_1.png"></span>
                                  <span class="sq_z_right"><img src="img/zoom_2.png"></span>
                              </div>

                              <div class="sq_three_top">
                                  <!--<span>Western media</span>-->
                                  <span style="font-size: 18px;">凡客商城</span>
                              </div>
                              <div class="sq_three_top" style="color:#787878">2018.08.08</div>
                              <div class="sq_three_top sq_solid" style="width:270px;background: #959595;height: 2px;"></div>
                          </div>
                      </a>
                  </li>
                  <li>
                      <a href="../apple/index.html">
                          <div class="sq_three_img">
                              <div class="sq_three_re" style="position: relative;">
                                  <img src="../static/img/demo9.png" alt="">
                                  <div class="sq_z_back"></div>
                                  <span class="sq_z_left"><img src="../static/img/zoom_1.png"></span>
                                  <span class="sq_z_right"><img src="../static/img/zoom_2.png"></span>
                              </div>

                              <div class="sq_three_top">
                                  <!--<span>Western media</span>-->
                                  <span style="font-size: 18px;">苹果官网</span>
                              </div>
                              <div class="sq_three_top" style="color:#787878">2018.08.08</div>
                              <div class="sq_three_top sq_solid" style="width:270px;background: #959595;height: 2px;"></div>
                          </div>
                      </a>
                  </li>
                  

              </ul>
          </div>
          <!--<div class="sq_three_s3">-->
              <!--<div class="sq_three_all">ALL</div>-->
          <!--</div>-->
          <div class="bg">
              <!--<img src="img/firstscreen3.jpg" alt="第三屏">-->
          </div>
      </div>
      <div class="section " id="con">
          <div class="title">CONTACT ME</div>
          <!--<div class="bg" style="z-index:3"><img src="img/2zhehzoa.jpg"></div>-->
          <!--<div class="sq_four">-->
              <!--<img src="img/ready.png">-->
          <!--</div>-->
          <!--<div class="sq_four_all">We are ready,you?</div>-->
          <!--<div class="sq_four2"><img src="img/go.png"></div>-->
          <!--<div class="bg">-->
              <!--&lt;!&ndash;<img src="img/firstscreen4.jpg" alt="第四屏">&ndash;&gt;-->
          <!--</div>-->
          <div class="contact clearfix">
              <p class="title">CONTACT ME</p>
              <div class="c-left">
                  <p class="desc">
                      具体信息
                  </p>
                  <div class="inp">
                      <input type="text" placeholder="Name"/>
                      <input type="text" placeholder="Email"/>
                      <input type="text" placeholder="Company Name"/>
                      <input type="text" placeholder="Phone"/>
                      <textarea name=""></textarea>
                      <p class='submit'>submit</p>
                  </div>
              </div>
              <div class="c-right clearfix">
                  <div class="location">
                      <i class='iconfont icon-location'></i>
                      <p>Location </p>
                      <p>吕梁学院</p>
                  </div>
                  <div class="phone">
                      <i class='iconfont icon-shouji'></i>
                      <p>Phone</p>
                      <p>18135834403</p>
                  </div>
                  <div class="support">
                      <i class='iconfont icon-youjian'></i>
                      <p>Support</p>
                      <p></p>
                  </div>
                  <div class="mail">
                      <i class='iconfont icon-youjian'></i>
                      <p>Mail</p>
                      <p>1275034721@qq.com</p>
                  </div>
                  <p class="icon">
                      <i class="iconfont icon-facebook "></i>
                      <i class="iconfont icon-birdxiaoniao "></i>
                      <i class="iconfont icon-G "></i>
                      <i class="iconfont icon-in "></i>
                  </p>
              </div>
          </div>

      </div>
  </div>

    <canvas id="canvas"></canvas>


  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="../static/js/jquery.fullPage.min.js"></script>
  <script src="../static/js/animated.js"></script>
  <script src="../static/js/build.js"></script>
  <script type="text/javascript">
      $(function(){
          $('#fullpage').fullpage({
              'verticalCentered': false,
              anchors: ['Home page', 'SKILLS', 'WORK', 'CONTACT ME'],
              menu: '#myMenu',
              navigation: true,                //是否显示导航栏
//              'navigationPosition': 'left'  //导航栏的位置
          });


          var back=$(".sq_concat_back").find("div");
          var img=["images/index/phone_1.png","images/index/qq_1.png","images/index/weixin_1.png"];
          var imgs=["images/index/phone.png","images/index/qq.png","images/index/weixin.png"];
          back.hover(function(){
              $(this).children("img").attr("src",img[back.index(this)]);
          },function(){
              $(this).children("img").attr("src",imgs[back.index(this)]);
          });

          var sq_img=$(".sq_three_s2 ul").find("li");
          sq_img.hover(function(){
              $(this).children("div").children(".sq_three_re").children(".sq_z_back").css({ "opacity":"0.7"});
              $(this).children("div").children(".sq_solid").css("background","#3CAF5A");
              $(this).children("div").children(".sq_three_re").children(".sq_z_left").animate({
                  "opacity":"1",
                  "left":"38%"
              },500);
              $(this).children("div").children(".sq_three_re").children(".sq_z_right").animate({
                  "opacity":"1",
                  "right":"45%"
              },500);
          },function(){
              $(this).children("div").children(".sq_three_re").children(".sq_z_back").css("opacity","0");
              $(this).children("div").children(".sq_solid").css("background","#959595");
              $(this).children("div").children(".sq_three_re").children(".sq_z_left").animate({
                  "opacity":"0",
                  "left":"0"
              },500);
              $(this).children("div").children(".sq_three_re").children(".sq_z_right").animate({
                  "opacity":"0",
                  "right":"0"
              },500);
          });
      });
  </script>


</html>
