<link rel="stylesheet" href="../static/css/footer.css" />
<!--footer start-->
<div class="footer">
    <div class="f-content">
        <p class="friendlink">
            <a href="#"><i class="iconfont icon-weixin"></i></a>
            <a href="#"><i class="iconfont icon-qq1"></i></a>
            <a href="#"><i class="iconfont icon-message"></i></a>
        </p>
        <p class="guide">
            Wechat/Phone:18135834403 Email:127534721@qq.com
        </p>
        <!--<p class="contact">联系电话 0371-62180519 15890062947</p>-->
        <p class="friendlink">Copyright @ 2018 soul All Rights Reserved</p>
    </div>

</div>

<!--footer end-->
</body>
</html>