<link rel="stylesheet" href="../static/css/huayanhuayu.css" />
	
	<!--main  start-->
	<div class="main">		
		<div class="m-news public-news hyhy">
			<div class="p-content clearfix">
				<div class="title">
					<span>素馨动态</span>		
				</div>		
				<ul class="word clearfix">
					<li>
						<img src="../static/img/thumb7.jpg" alt="" />
						<a href="show.html">冬日应季花卉姹紫嫣红</a>
						<p class="desc">	
	虽为冬日，年关将至，加之今天情人节、除夕与春节相连，郑州市花卉市场到处是姹紫嫣红，春意盎然，各种花卉、盆景琳琅满目，前来采购进货的花店络绎不绝。</p>
						<p class="tips">
							<span>2018-07-18</span>
							<span>王亚楠</span>
							<i class="iconfont"></i>
							<span>83</span>
						</p>
					</li>
					<li>
						<img src="../static/img/thumb8.jpg" alt="" />
						<a href="show.html">
2018国际花艺设计趋势大师研讨会——设计 融合 未来</a>
						<p class="desc">	
	多肉入新家
	多肉必须经过一段时间适应期，也就是安全度过缓苗期，就说明她入盆成功，真正进入新家了。首先我们需要晾根,就说明她入盆成功，真正进入新家了。</p>
						<p class="tips">
							<span>2018-07-18</span>
							<span>王亚楠</span>
							<i class="iconfont"></i>
							<span>83</span>
						</p>
					</li>
					<li>
						<img src="../static/img/thumb3.jpg" alt="" />
						<a href="show.html">多肉入新家</a>
						<p class="desc">	
	多肉入新家
	多肉必须经过一段时间适应期，也就是安全度过缓苗期，就说明她入盆成功，真正进入新家了。首先我们需要晾根,就说明她入盆成功，真正进入新家了。</p>
						<p class="tips">
							<span>2018-07-18</span>
							<span>王亚楠</span>
							<i class="iconfont"></i>
							<span>83</span>
						</p>
					</li>
					<li>
						<img src="../static/img/thumb3.jpg" alt="" />
						<a href="show.html">多肉入新家</a>
						<p class="desc">	
	多肉入新家
	多肉必须经过一段时间适应期，也就是安全度过缓苗期，就说明她入盆成功，真正进入新家了。首先我们需要晾根,就说明她入盆成功，真正进入新家了。</p>
						<p class="tips">
							<span>2018-07-18</span>
							<span>王亚楠</span>
							<i class="iconfont"></i>
							<span>83</span>
						</p>
					</li>
					<li>
						<img src="../static/img/thumb3.jpg" alt="" />
						<a href="show.html">多肉入新家</a>
						<p class="desc">	
	多肉入新家
	多肉必须经过一段时间适应期，也就是安全度过缓苗期，就说明她入盆成功，真正进入新家了。首先我们需要晾根,就说明她入盆成功，真正进入新家了。</p>
						<p class="tips">
							<span>2018-07-18</span>
							<span>王亚楠</span>
							<i class="iconfont"></i>
							<span>83</span>
						</p>
					</li>
					<li>
						<img src="../static/img/thumb3.jpg" alt="" />
						<a href="show.html">多肉入新家</a>
						<p class="desc">	
	多肉入新家
	多肉必须经过一段时间适应期，也就是安全度过缓苗期，就说明她入盆成功，真正进入新家了。首先我们需要晾根,就说明她入盆成功，真正进入新家了。</p>
						<p class="tips">
							<span>2018-07-18</span>
							<span>王亚楠</span>
							<i class="iconfont"></i>
							<span>83</span>
						</p>
					</li>
					<li>
						<img src="../static/img/thumb3.jpg" alt="" />
						<a href="show.html">多肉入新家</a>
						<p class="desc">	
	多肉入新家
	多肉必须经过一段时间适应期，也就是安全度过缓苗期，就说明她入盆成功，真正进入新家了。首先我们需要晾根,就说明她入盆成功，真正进入新家了。</p>
						<p class="tips">
							<span>2018-07-18</span>
							<span>王亚楠</span>
							<i class="iconfont"></i>
							<span>83</span>
						</p>
					</li>
					<li>
						<img src="../static/img/thumb3.jpg" alt="" />
						<a href="show.html">多肉入新家</a>
						<p class="desc">	
	多肉入新家
	多肉必须经过一段时间适应期，也就是安全度过缓苗期，就说明她入盆成功，真正进入新家了。首先我们需要晾根,就说明她入盆成功，真正进入新家了。</p>
						<p class="tips">
							<span>2018-07-18</span>
							<span>王亚楠</span>
							<i></i>
							<span>83</span>
						</p>
					</li>
					<li>
						<a href="" class="">上一页</a>
						<a href="" class="current">1</a>
						<a href="" class="">2</a>
						<a href="" class="">3</a>
						<a href="" class="">下一页</a>
					</li>
				</ul>
				<div class="sidebar">
					<input type="text"placeholder="百度搜索" id="inp" autofocus/>
					<ul id="list"></ul>
					<a href="#"><i class="iconfont icon-sousuo1"></i></a>
					<div class="tips">
						<h2>为您推荐</h2>
						<div class="list">
							<a href="">适合家庭的摆台花</a>
							<a href="">夏日里的一抹清凉</a>
							<a href="">亲临进口花材</a>
						</div>						
					</div>
					<a href= '' class='all'>所有文章</a>
				</div>
			</div>
		</div>		
	</div>
	<!--main  end-->
	

	
 </body>
 <script>
     inp.oninput = function(){
         let val = inp.value;
         if( val ){
             let oScr = document.createElement('script');
             oScr.src = "https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su?wd="+ val +"&cb=getJsonp";
             document.body.appendChild(oScr);
             // document.body.removeChild(oScr);
         }else{
             list.innerHTML = '';
         }
     }

     //回调函数
     function getJsonp(obj){
         // console.log(dom.s)
         let arr = obj.s;
         let liText = '';
         for(let i=0;i<arr.length;i++){
             //    liText += '<li><a href="https://www.baidu.com/s?wd='+ arr[i]+ '">' + arr[i] + '</a></li>';
             liText += `<li><a href="https://www.baidu.com/s?wd=${arr[i]}"> ${arr[i]}</a></li>`;
         }
         list.innerHTML = liText;
     }
 </script>
</html>
